        #para1
            {
                background-color: #f4f3f0;
                color: black ;
                padding: 50px;
            }
        #p1
            {
                text-align: center;
                background-color: #c6d663;
                color: #5d5c19;
                padding: 8px;
            }
        #pic
            {
                background-color: #c6d663;
                color: #5d5c19;
                padding: 10px;
            }
        #p2
            {
                background-color: #c6d663;
                color: #5d5c19;  
            }
        #p3
            {
                background-color: #c6d663;
                color: #5d5c19;  
            }
        #p4
            {
                background-color: #c6d663;
                color: #5d5c19;  
            }
        #p5
            {
                background-color: #c6d663;
                color: #5d5c19;  
            }